.footer-icone, .projects-list, .nav-list, .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #333333;
}

h1 {
  color: #212121;
}

a {
  color: #212121;
}

.servise {
  margin-bottom: 94px;
}

.is-hidden {
  display: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  font-size: 28px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.logo span {
  color: #2196f3;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 55px;
  }
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-link:hover {
  color: rgb(33, 150, 243);
}

.nav-link:after {
  content: "";
  display: block;
  background-color: rgb(33, 150, 243);
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -20px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.5s linear, transform 0.5s linear;
  transition: opacity 0.5s linear, transform 0.5s linear, -webkit-transform 0.5s linear;
}

.nav-link:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header-contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}

.contact-email,
.contact-phone {
  position: relative;
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  padding-left: 24px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-email,
  .contact-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contact-email,
  .contact-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-email .header-link,
.contact-phone .header-link {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 12px;
  fill: rgb(117, 117, 117);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-email .header-link,
  .contact-phone .header-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contact-email .header-link,
  .contact-phone .header-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-email:hover,
.contact-phone:hover {
  color: rgb(33, 150, 243);
}

.contact-email:hover .header-link,
.contact-phone:hover .header-link {
  fill: rgb(33, 150, 243);
}

.btn-menu-open {
  display: inline-block;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .btn-menu-open {
    display: none;
  }
}

.menu-open-svg {
  width: 24px;
  height: 16px;
}

.menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.btn-menu-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.menu-close-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 21px;
  right: 175px;
}

.nav-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
  margin-bottom: 320px;
}

.nav-menu-item {
  padding-bottom: 36px;
}

.nav-menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 2%;
  color: black;
}

.menu-contact {
  margin-bottom: 64px;
}

.menu-item {
  margin-bottom: 32px;
}

.menu-contact-email {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 2%;
  color: rgb(117, 117, 117);
}

.menu-contact-phone {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 2%;
}

.menu-program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.program-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2%;
  position: relative;
}

.program-link {
  color: rgb(33, 150, 243);
}

.program-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 90px;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6px;
  margin-top: 60px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter-list {
    gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    margin-top: 94px;
    margin-bottom: 34px;
  }
}

.filter-link {
  padding: 10px 20px;
  background-color: #f5f4fa;
  color: rgb(33, 33, 33);
  text-decoration: none;
  font-size: 16px;
}

.filter-link:hover {
  background-color: #2196f3;
  -webkit-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275), 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725), 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275), 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725), 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.projects-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding-bottom: 60px;
}

.project-item {
  position: relative;
  width: 31%;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .project-item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .project-item {
    width: 45%;
  }
}
@media screen and (min-width: 1200px) {
  .project-item {
    width: 31%;
  }
}

.project-image {
  width: 100%;
}

.project-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 15px;
}

.project-category {
  font-size: 14px;
  color: #757575;
  margin: 0 15px 15px 15px;
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding-top: 64px;
  padding-left: 24px;
  overflow: hidden;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .portfolio-text {
    height: 355px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-text {
    height: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-text {
    height: 294px;
  }
}

.project-item:hover .portfolio-text,
.project-item:focus .portfolio-text {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.footer {
  background-color: #2f303a;
  color: #fff;
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .footer-up-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-up-line {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .footer-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.footer-address {
  padding: 0;
  text-align: center;
  margin-bottom: 60px;
}
.footer-info {
  padding-top: 20px;
}

.address-link {
  gap: 8px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-icone-div {
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-icone-div {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-icone-div {
    padding-left: 30px;
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer-icone-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-icone-title {
    text-align: center;
  }
}

.footer-icone {
  gap: 10px;
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-link {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  -webkit-transition: background-color 0.3s, border 0.3s, fill 0.3s;
  transition: background-color 0.3s, border 0.3s, fill 0.3s;
}

.footer-link:hover,
.footer-link:focus {
  background-color: rgb(33, 150, 243);
}

.footer-link:hover .footer-svg,
.footer-link:focus .footer-svg {
  fill: #fff;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .mailing {
    margin-top: 0px;
  }
}

.mailing-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  text-align: center;
}

.mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .mailing-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.mailing-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  color: #fff;
  margin-top: 20px;
  margin-left: 140px;
  margin-right: 140px;
}
@media screen and (min-width: 768px) {
  .mailing-input {
    margin-left: 140px;
    margin-right: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-input {
    width: 468px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.mailing-input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
}

.mailing-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
}

.mailing-input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
}

.mailing-input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
}

.mailing-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
}

.mailing-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  background-color: rgb(33, 150, 243);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .mailing-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-btn {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
  }
}