*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: $text-color;
}

h1 {
  color: $primary-color;
}

a {
  color: $primary-color;
}
.servise {
  margin-bottom: 94px;
}
.is-hidden{
  display: none;
}