.customers {
  @extend %flex;
}
.customers-title {
  @include text("Roboto", 700px, 36px);
  // font-family: "Roboto", sans-serif;
  // font-weight: 700px;
  // font-size: 36px;
  text-align: center;
  margin-top: 97px;
  @media screen and (min-width: 480px) {
    font-size: 28px;
  }
  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
.customers-list {
  @extend %flex;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 97px;
  @media screen and (min-width: 480px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
  }
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
  }
}
.customers-link {
  display: inline-block;

  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    padding: 16px 52px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    padding: 16px 60px;
  }
  @media screen and (min-width: 1200px) {
    padding: 16px 32px;
  }
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid rgba(33, 150, 243, 1);
  transition: fill 0.3s;
}
.customers-link:hover .customers-svg,
.customers-link:focus .customers-svg {
  fill: rgba(33, 150, 243, 1);
  transition: fill 0.3s;
}
.customers-svg {
  width: 84px;
  height: 40px;
  fill: rgba(175, 177, 184, 1);
}
