.features {
  @extend %flex;
  margin-bottom: 94px;
}
.features-list {
  @extend %flex;
  @media screen and (min-width: 480px) {
    flex-direction: column;
    margin-bottom: 30px;
    align-items: stretch;
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;

  }
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;

  }
}
.feature-item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  background-color: $background-color;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
  }
}
.feature-item:nth-child(1)::before {
  background-image: url(./../images/antenna.png);
}
.feature-item:nth-child(2)::before {
  background-image: url(./../images/clock.png);
}
.feature-item:nth-child(3)::before {
  background-image: url(./../images/diagram.png);
}
.feature-item:nth-child(4)::before {
  background-image: url(./../images/astronaut.png);
}
