.footer {
  background-color: #2f303a;
  color: #fff;
  padding: 40px 0;
}
.footer-list {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.footer-address {
  padding-left: 137px;
  padding-right: 137px;
  @media screen and (min-width: 768px) {
    padding-left: 10px;
  }
}
.footer-info {
  padding-top: 20px;
}

.address-link {
  gap: 8px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-icone-div {
  padding-left: 137px;
  padding-right: 137px;
  @media screen and (min-width: 768px) {
    padding-right: 20px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 30px;
  }
}
.footer-icone-title {
  @include text("Roboto", 700, 14px);
  //   font-family: "Roboto",sans-serif;
  // font-weight: 700;
  // font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: center;
  }
}
.footer-icone {
  @extend %flex;
  gap: 10px;
  padding-top: 20px;
}
.footer-link {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: background-color 0.3s, border 0.3s, fill 0.3s;
}

.footer-link:hover,
.footer-link:focus {
  background-color: rgba(33, 150, 243, 1);
}

.footer-link:hover .footer-svg,
.footer-link:focus .footer-svg {
  fill: #fff;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing {
  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    margin-top: 15px;
  }
}
.mailing-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  text-align: center;
}
.mailing-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  color: #fff;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
.mailing-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
}
.mailing-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  background-color: rgba(33, 150, 243, 1);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-right: 140px;
  margin-left: 140px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
// .all-footer{
// display: flex;
// flex-direction: column;
// }
