.header {
  @extend %flex;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
  gap: 15px;
}
.nav-list {
  @extend %flex;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 55px;
  }
}

.nav-link {
  @include text("Roboto", 500, 14px);
  //  font-family:"Roboto",sans-serif;
  // font-weight: 500;
  // font-size: 14px;
  transition: color .5s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.nav-link:hover {
  color: rgba(33, 150, 243, 1);
}
.nav-link:after {
  content: "";
  display: block;
  background-color: rgba(33, 150, 243, 1);
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -20px;
  opacity: 0;
  transform: scale(0);
  transition: opacity .5s linear, transform .5s linear;
}
.nav-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.header-contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}

.contact-email,
.contact-phone {
  position: relative;
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  padding-left: 24px;
  transition: color 0.3s;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.contact-email .header-link,
.contact-phone .header-link {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 12px;
  fill: rgba(117, 117, 117, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.contact-email:hover,
.contact-phone:hover {
  color: rgba(33, 150, 243, 1);
}

.contact-email:hover .header-link,
.contact-phone:hover .header-link {
  fill: rgba(33, 150, 243, 1);
}

.btn-menu-open {
  display: inline-block;
  background-color: transparent;
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-open-svg {
  width: 24px;
  height: 16px;
}
.menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.btn-menu-close {
  display: flex;
  border: none;
}
.menu-close-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 21px;
  right: 175px;
}
.nav-menu-list {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 320px;
}
.nav-menu-item {
  padding-bottom: 36px;
}
.nav-menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 2%;
  color: black;
}
.menu-contact {
  margin-bottom: 64px;
}
.menu-item {
  margin-bottom: 32px;
}
.menu-contact-email {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 2%;
  color: rgba(117, 117, 117, 1);
}
.menu-contact-phone {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 2%;
}
.menu-program {
  display: flex;
  gap: 40px;
}
.program-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2%;
  position: relative;
}
.program-link {
  color: rgba(33, 150, 243, 1);
}
.program-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 90px;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}
