.hero {
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./../images/sima.png);
  /* background-color: rgba(47, 48, 58, 1); */
  margin-bottom: 94px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  &__title {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 94px;
    line-height: 1.4;
    @media screen and (min-width: 480px) {
      font-weight: 900;
      font-size: 26px;
    }
    @media screen and (min-width: 768px) {
      font-weight: 900;
      font-size: 26px;
      text-transform: uppercase;
    }
  }
  &__button {
    @include text("Roboto", 700, 16px);
    // font-family: "Roboto";
    // font-weight: 700;
    // font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.9;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(33, 150, 243, 1);
    padding: 10px 32px;
    border-color: transparent;
    border-radius: 10px;
  }
}
