.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
}
.modal {
  padding: 24px 40px 40px;
  width: 488px;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ease-in-out;
}
.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.modal-ladel {
  @include text("Roboto", 400, 12px);
  color: rgba(117, 117, 117, 1);
  display: block;
  width: 100%;
  position: relative;
}
.modal-label-text {
  margin-bottom: 4px;
  text-align: start;
  margin-left: 40px;
}
.modal-input {
  height: 40px;

  padding-left: 36px;
  // margin: 10px 40px;
}

.modal-input,
.modal-input-text {
  width: 100%;
  border: 1px solid #21212133;
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-text {
  display: block;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal-input::placeholder {
  @include text("Roboto", 400, 12px);
  // font-family: "Roboto", sans-serif;
  // font-weight: 400;
  // font-size: 12px;
  padding-top: 13px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-label-checkbox {
  @include text("Roboto", 400, 14px);
  // font-family: "Roboto", sans-serif;
  // font-weight: 400;
  // font-size: 14px;
  color: rgba(117, 117, 117, 1);
  margin-top: 20px;
}
.input-checkbox {
  width: 16px;
  height: 15px;
  margin-top: 10px;
  border: rgba(33, 33, 33, 1);
}
.modal-label-checkbox span {
  @include text("Roboto", 400, 14px);
  // font-family: "Roboto", sans-serif;
  // font-weight: 400;
  // font-size: 14px;
  text-decoration: underline;
  color: rgba(33, 150, 243, 1);
}
.modal-link {
  color: rgba(33, 150, 243, 1);
}
.btn-modal {
  @include text("Roboto", 700, 16px);
  // font-family: "Roboto", sans-serif;
  // font-weight: 700;
  // font-size: 16px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}
.modal-svg {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 12px;
}
.modal-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.close-button {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 12px;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
}
.close-button-svg {
  width: 11px;
  height: 11px;
}
.no-scroll {
  overflow: hidden;
}
