.portfolio {
  margin-bottom: 94px;
}
.filter-list {
  display: flex;
  gap: 15px;
  list-style: none;
  justify-content: center;
  margin: 40px 0;
  @media screen and (min-width: 480px) {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.filter-link {
  padding: 10px 20px;
  background-color: #f5f4fa;
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  font-size: 16px;
}

.filter-link:hover {
  background-color: #2196f3;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}
