.projects-list {
  @extend %flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding-bottom: 60px;
}

.project-item {
  position: relative;
  width: 31%;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 45%;
  }
  @media screen and (min-width: 1200px) {
    width: 31%;
  }
}

.project-image {
  width: 100%;
}

.project-title {
  @include text("Roboto", bold, 18px);
  // font-size: 18px;
  // font-weight: bold;
  margin: 15px;
}

.project-category {
  font-size: 14px;
  color: #757575;
  margin: 0 15px 15px 15px;
}
.portfolio-text {
  @include text("Roboto", 400, 18px);
  // font-family: "Roboto", sans-serif;
  // font-weight: 400;
  // font-size: 18px;
  color: #fff;
  padding-top: 64px;
  padding-left: 24px;
  overflow: hidden;

  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  transform: translateY(150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
    height: 355px;
  }
  @media screen and (min-width: 768px) {
    height: 270px;
  }
  @media screen and (min-width: 1200px) {
    height: 294px;
  }
}
.project-item:hover .portfolio-text,
.project-item:focus .portfolio-text {
  transform: translate(0);
}
