.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 654px;
  @media screen and (min-width: 768px) {
 
  }
  @media screen and (min-width: 480px) {

  }
}
.team-list {
  @extend %flex;
  gap: 30px;
  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 480px) {

  }
}
.team-icone {
  display: flex;
  align-content: center;
  gap: 10px;
}
.team-item {
  background-color: #fff;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 94px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 480px) {
  }
}
.team-item:hover {
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}
.team-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700px;
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.team-member {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  @media screen and (min-width: 480px) {
    
  }
}

.team-photo {
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
}
@media screen and (min-width: 480px) {
  
  }
}

.member-name {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  @media screen and (min-width: 480px) {
    margin-bottom: 10px;
  }
}

.member-role {
  color: #757575;
  @media screen and (min-width: 480px) {
    margin-bottom: 16px;
  }
}
.team-link {
  display: inline-block;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  color: rgba(175, 177, 184, 1);
  transition: background-color 0.3s, border 0.3s, fill 0.3s;
}

.team-link:hover,
.team-link:focus {
  background-color: rgba(33, 150, 243, 1);
  border: 1px solid rgba(33, 150, 243, 1);
  color: #fff;
 
}

.team-link:hover .team-svg,
.team-link:focus .team-svg {
  fill: #fff;
  
}

.team-svg {
  width: 20px;
  height: 20px;
  fill: rgba(175, 177, 184, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
