.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
  }
}
.team-list {
  @extend %flex;
  flex-direction: column;
  gap: 30px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.team-icone {
  display: flex;
  justify-content: center;
  gap: 10px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 0px;
  }
}
.team-item {
  background-color: #fff;
  text-align: center;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 94px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.team-item:hover {
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}
.team-title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700px;

  @media screen and (min-width: 1200px) {
  }
}

.team-member {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  @media screen and (min-width: 1200px) {
  }
}

.team-photo {
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    width: 344px;
    height: 344px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 260px;
  }
}

.member-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  @media screen and (min-width: 1200px) {
  }
}

.member-role {
  color: #757575;
  margin-bottom: 16px;
  @media screen and (min-width: 1200px) {
  }
}
.team-link {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  color: rgba(175, 177, 184, 1);
  transition: background-color 0.3s, border 0.3s, fill 0.3s;

}

.team-link:hover,
.team-link:focus {
  background-color: rgba(33, 150, 243, 1);
  color: #fff;
}

.team-link:hover .team-svg,
.team-link:focus .team-svg {
  fill: #fff;
}

.team-svg {
  width: 20px;
  height: 20px;
  fill: rgba(175, 177, 184, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
